* {
    margin: 0;
    padding: 0;
}
.target {
    width: 400px;
    height: 120px;
    margin-left: 40%;
    background: blanchedalmond;
    border: 1px solid #eca711;
}
.buttonsBlock{
    display: flex;
    justify-content: center;
    padding: 30px;
}
#plus{
    margin-right: 30px;
    font-size: 2em;
}
#minus{
    margin-left: 30px;
    font-size: 2em;
}
.counterValue{
    font-size: 3em;
}